{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
    <!-- Breadcrumb Section Start -->
    <div class="section breadcrumb-section overlay" data-bg-image="/static/images/about/nMCFS6Uy1Po.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Breadcrumb wrapper Start -->
                    <div class="breadcrumb-wrapper">
                        <h1 class="title text-white" data-aos="fade-up" data-aos-duration="1100">Latest Blog Post</h1>

                        <ul class="breadcrumb-menu" data-aos="fade-up" data-aos-duration="1500">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <span>Blog Grid</span>
                            </li>
                        </ul>
                    </div>
                    <!-- Breadcrumb wrapper End -->

                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Blog Grid Section Start -->
    <div class="section section-margin">
        <div class="container">
            <div class="row m-b-n30">

                        {% for blog in blog %}
                <div class="col-lg-4 col-sm-6 m-b-30" data-aos="fade-up" data-aos-duration="1100">
                    <!-- Single Blog Wrapper Start -->
                    <div class="single-blog-wrapper">
                        <div class="single-blog-thumb">
                            <a class="image" href="{{blog.blog_detail}}"><img src="{{blog.image.url}}" alt="Blog Image"></a>
                        </div>
                        <div class="single-blog-content bg-color-gray">
                            <div class="blog-meta">
                                <span>By {{blog.author}} {{blog.date}}/ </span>
                            </div>
                            <h4 class="title"><a href="blog-details.html">{{blog.title}}</a></h4>
                            <p>{{blog.body|truncatewords:15}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
                 
             
            </div>

        
        </div>
    </div>
    
{% endblock %}