{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
    <div class="section breadcrumb-section overlay" data-bg-image="/static/images/about/6.-Rabota-IT-spetsialistov.jpeg">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Breadcrumb wrapper Start -->
                    <div class="breadcrumb-wrapper">
                        <h1 class="title text-white" data-aos="fade-up" data-aos-duration="1100">Provide best Services <br> for your Company</h1>

                        <ul class="breadcrumb-menu" data-aos="fade-up" data-aos-duration="1500">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <span>Service</span>
                            </li>
                        </ul>
                    </div>
                    <!-- Breadcrumb wrapper End -->

                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- About Section Start -->
    <div class="section section-margin">
        <div class="container">
            <div class="row m-b-n30 align-items-center">
                <div class="col-lg-6 m-b-30" data-aos="fade-up" data-aos-duration="1100">
                    <div class="about-content mw-100">
                        <h2 class="title">Fast Service, Talented People <br> Secure Payment</h2>
                        <span></span>
                        <p>Voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur mag ni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisq uam est, qui dolorem ipsum quia dolor sit amet, consectetur some of the main Problems some of the main need more imporvement to solve the business policy</p>
                        <p>Voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur mag ni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisq uam est, qui dolorem ipsum quia dolor sit amet, consectetur some of the main Problems some of the main need more imporvement to solve the business policy</p>
                    </div>
                </div>
                <div class="col-lg-6 order-first order-lg-last m-b-30" data-aos="fade-up" data-aos-duration="1500">
                    <div class="about-image service-layer-image ms-auto">
                        <img class="about-image-1" src="/static/images/about/about-2.png" alt="About Image">
                        <img class="about-image-2" src="/static/images/about/about-3.png" alt="About Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Section End -->

    <!-- Service Section Start -->
      <div class="section section-margin-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12" data-aos="fade-up" data-aos-duration="1100">
                    <div class="section-title text-center">
                        <h2 class="title">What We Do</h2>
                        <span class="d-flex justify-content-center"></span>
                        <p class="m-auto">Create web site,Mobile App, Graphic Design,Telegram bot,Promotion and others</p>
                    </div>
                </div>
            </div>
            <div class="row m-b-n40">
                <div class="col-lg-4 col-sm-6 m-b-40" data-aos="fade-up" data-aos-duration="1100">
                    <!-- Single Service Start -->
                    <div class="single-service">
                        <div class="service-icon">
                            <img style="height:60px; width:70px;" src="/static/images/icon/icons8-website-50.png" alt="Service Icon">
                        </div>
                        <h4 class="title">WebSite Development</h4>
                        <p>Landing Page, Corporate website, Internet shop, Platforms, Individual.</p>
                        <a href="{% url 'main:contact' %}" class="btn btn-dark btn-hover-primary m-t-20">Order Now</a>
                    </div>
                    <!-- Single Service End -->
                </div>
                <div class="col-lg-4 col-sm-6 m-b-40" data-aos="fade-up" data-aos-duration="1200">
                    <!-- Single Service Start -->
                    <div class="single-service">
                        <div class="service-icon">
                            <img style="height:60px; width:70px;" src="/static/images/icon/kisspng-responsive-web-design-zen-cart-e-commerce-5afbf9e8beafc9.4755864615264629527811.jpg" alt="Service Icon">
                        </div>
                        <h4 class="title">Mobile App</h4>
                        <p>Informational, IOS & Android catalog, Internet shop, Platforms, Individual.</p>
                        <a href="{% url 'main:contact' %}" class="btn btn-dark btn-hover-primary m-t-20">Order Now</a>
                    </div>
                    <!-- Single Service End -->
                </div>
                <div class="col-lg-4 col-sm-6 m-b-40" data-aos="fade-up" data-aos-duration="1300">
                    <!-- Single Service Start -->
                    <div class="single-service">
                        <div class="service-icon">
                            <img style="height:60px; width:70px;" src="/static/images/icon/icons8-marketing-64.png" alt="Service Icon">
                        </div>
                        <h4 class="title">Promotion</h4>
                        <p>SMM Start, SMM Basic, SMM Profi, SEO optimization top 10, Contextual advertising</p> <a href="{% url 'main:contact' %}" class="btn btn-dark btn-hover-primary m-t-20">Order Now</a>
                    </div>
                    <!-- Single Service End -->
                </div>
                <div class="col-lg-4 col-sm-6 m-b-40" data-aos="fade-up" data-aos-duration="1400">
                    <!-- Single Service Start -->
                    <div class="single-service">
                        <div class="service-icon">
                            <img style="height:60px; width:70px;" src="/static/images/icon/icons8-telegram-app-50.png" alt="Service Icon">
                        </div>
                        <h4 class="title">Telegram Bot</h4>
                        <p>Informational, For online sales, Chain restaurant.</p> <a href="{% url 'main:contact' %}" class="btn btn-dark btn-hover-primary m-t-20">Order Now</a>
                    </div>
                    <!-- Single Service End -->
                </div>
                <div class="col-lg-4 col-sm-6 m-b-40" data-aos="fade-up" data-aos-duration="1500">
                    <!-- Single Service Start -->
                    <div class="single-service">
                        <div class="service-icon">
                            <img style="height:60px; width:70px;" src="/static/images/icon/service-5.png" alt="Service Icon">
                        </div>
                        <h4 class="title">Branding & Identity</h4>
                        <p>Naming, Logo, Brandbook, Business, Plans, Business Presentations.</p>
                         <a href="{% url 'main:contact' %}" class="btn btn-dark btn-hover-primary m-t-20">Order Now</a>
                    </div>
                    <!-- Single Service End -->
                </div>
                <div class="col-lg-4 col-sm-6 m-b-40" data-aos="fade-up" data-aos-duration="1600">
                    <!-- Single Service Start -->
                    <div class="single-service">
                        <div class="service-icon">
                            <img style="height:60px; width:70px;" src="/static/images/icon/service-2.png" alt="Service Icon">
                        </div>
                        <h4 class="title">Production</h4>
                        <p>Photography, Filming, Animation video. <br> <br></p>
                         <a href="{% url 'main:contact' %}" class="btn btn-dark btn-hover-primary m-t-20">Order Now</a>
                    </div>
                    <!-- Single Service End -->
                </div>
            </div>
        </div>
    </div>

    <!-- Service Section End -->

    <!-- Testimonial Section Start -->
   
    </div>
    <!-- Testimonial Section End -->
{% endblock %}